<%= form_for(@user) do |f| %>
	<div class="field">
 		<p>name</p> 
 		<%= f.text_field :name%>
 	</div>
 	<div class="field">
 		<p>email</p> 
 		<%= f.text_field :email%>
 	</div>
 	<div class="field">
		<p>Hometown</p>
		<%= f.text_field :hometown%>
	</div>
	<div class="field">
		<p>Music Style</p>
		<%= f.text_field :style%>
	</div>
 	<div class="field">
 		<p>password</p> 
 		<%= f.text_field :password%>
 	</div>
 	<div class="actions">
 		<%= f.submit %>
 	</div>
    <div class="error-msg"> 
		<% if @user.errors.any? %> 
		<ul> 
			<% @user.errors.full_messages.each do |msg| %> 
			<li><%= msg %></li>
 			<% end %> 
 		</ul> 
 		<% end %> 
	</div> 
<% end %>