<table>
	<tr>
		<td>Name</td>
		<td>Email</td>
		<td>Password</td>
		<td>Edit User Info</td>
		<td>Delete User</td>
	</tr>
	<% @users.each do |user| %>
	<tr>
		<td><%= link_to user.name, user_path(user.id) %></td>
		<td><%= user.email %></td>
		<td><%= user.password %></td>
		<td><%= link_to "Edit User", edit_user_registration_path(user.id) %></td>
		<td><%= link_to "Destroy User", user, confirm: "Are you sure you want to delete this user?", method: :delete %></td>
	</tr>
	<%end%>
</table>