<script src="/audio.min.js"></script>
<script>
  audiojs.events.ready(function() {
    var as = audiojs.createAll();
  });
</script>

<% @songs.each do |song| %> 
	<ul class="songs">
		<li class="song-title"><%= song.title %></li>
		<li> </li>
		<li class="song-user"> <%= song.user.name unless song.user.nil? %></li>
		<li class="hometown"><%= song.user.hometown %></li>
		<li class="music_style"><%= song.user.style %></li>
		<li><audio src= <%= song.audio %> preload="auto" /></audio></li> 
	</ul>
<%end%> 