<table> 
	<% @songs.each do |song| %> 
	<tr>
		<td><%= link_to song.title, song_path(song.id) %></td>
		<td><%= song.genre %></td> 
		<td><%= song.user.name unless song.user.nil? %></td>
		<td><%= link_to "Edit Song", edit_song_path(song.id) %> </td>
		<td><%= link_to "Destroy Song", song, confirm: "Are you sure you want to delete this song?", method: :delete %> 
		<td><%= song.audio %></td>
	</tr>
	<%end%> 
</table>