<%= form_for @song, method: :post, :html => { :multipart => true } do |f| %> 
	<div class="form">
		<h2>Create New Song</h2>
		<div class="field">Title
			<%= f.text_field :title %> 
		</div>
		<div class="field">Genre
			<%= f.select :genre, options_for_select([["Rap", "Rap"], ["Rock", "Rock"], ["Electronic", "Electronic"], ["Trap", "Trap"], ["Alternative", "Alternative"], ["Jazz", "Jazz"]]) %> 
		</div>
    	<div class="file-field">MP3 File
			<%= f.file_field :audio %>
		</div>
		<div class="field"> 
			<%= f.hidden_field :user_id, :value => current_user.id %> 
		</div>
		<div class=""> 
			<%= f.submit %>
		</div> 
    	<div class="error-msg"> 
			<% if @song.errors.any? %> 
			<ul> 
				<% @song.errors.full_messages.each do |msg| %> 
					<li><%= msg %></li>
 				<% end %> 
 			</ul> 
 		<% end %> 
	</div> 
<% end %>
