<%= form_for @song, :html => { :multipart => true } do |f| %> 
	<div class="field">
		<p>Title</p>
		<%= f.text_field :title %> 
	</div>
	<div class="field"> 
		<p>Genre</p>
		<%= f.text_field :genre %> 
	</div>
    <div class="field">
		<p>MP3 File</p>
		<%= f.file_field :audio %>
	</div>
	<div class="field"> 
		<p>user</p>
		<%= f.hidden_field :user_id, :value => current_user.id %> 
	</div>
	<div class="actions"> 
		<%= f.submit %>
	</div> 
    <div class="error-msg"> 
		<% if @song.errors.any? %> 
		<ul> 
			<% @song.errors.full_messages.each do |msg| %> 
			<li><%= msg %></li>
 			<% end %> 
 		</ul> 
 		<% end %> 
	</div> 
<% end %>
