<!DOCTYPE html>
<html>
	<head>
  		<title>Collab With Me</title>
  			<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
 			<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  			<%= csrf_meta_tags %>
	</head>
	<body>
		<div class="navbar">
			<ul class="nav">
				<div class="text-link">
					<% if user_signed_in? %>
						<li class="right-side">
							<%= link_to('Logout', destroy_user_session_path, :method => :delete)%>
						</li>
					<% else %>
						<li class="right-side">
							<%= link_to("Login", new_user_session_path) %>
						</li>
					<% end %>
					<% if !user_signed_in? %>
						<li id="left-side"><%=link_to "Create New User", new_user_registration_path %></li>
					<% end %>
					<li class="right-side">
						<%= form_tag search_path, method: :post do%>
							<%= text_field_tag :search %>
							<%= select_tag(:type, options_for_select([['Song Title', "title"], ['Music Genre', 'genre'], ["User Email", "email"], ["Username", "name"]])) %>
							<%= submit_tag "Search"%>
						<% end %>
					</li>
					<% if user_signed_in? %>
						<li class="left-side" ><%= link_to "People to Follow", users_path %></li>
						<li class="left-side"><%=link_to "Upload New Song", new_song_path%></li>
						<li class="left-side"><%=link_to "My Dashboard", dashboard_path%> </li>
						<li class="left-side"><%=link_to "Edit My Account", edit_user_registration_path%> </li>
					<% end %>
				</div>
			</ul>
		</div>


		<div id="content">
			<p class="notice"><%= notice %></p>
			<p class="alert"><%= alert %></p>
		<%= yield %>
	    </div>

		<div class="footer">
 			<ul class="foot">
				<div class="genres">
					<li id="collab">Start Collabing in...</li>
					<li><%= link_to "Rap", gen_songs_path("Rap") %></li>
					<li><%= link_to "Rock", gen_songs_path("Rock") %></li>
					<li><%= link_to "Electronic", gen_songs_path("Electronic") %></li>
					<li><%= link_to "Trap", gen_songs_path("Trap") %></li>
					<li><%= link_to "Alternative", gen_songs_path("Alternative") %></li>
					<li><%= link_to "Jazz", gen_songs_path("Jazz") %></li>
				</div>
			</ul>
	</body>
</html>
